# System files
.DS_Store
.vscode/

# Virtual environment
env/
venv/
.venv/

# Draft files
draft/

# Python cache
__pycache__/
.mypy_cache/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configuration files
mypy.ini

.coverage
htmlcov/
